key,type,encoding,value
wifi_config,namespace,,
ssid,data,string,PLACEHOLDER_WIFI_SSID
password,data,string,PLACEHOLDER_WIFI_PASSWORD
server_address,data,string,192.168.178.67
mqtt_port,data,u16,1883
mqtt_username,data,string,PLACEHOLDER_MQTT_USER
mqtt_password,data,string,PLACEHOLDER_MQTT_PASS
configured,data,u8,1
